<!-- Navbar with home page & about this website -->
{% extends "base.html" %}
{% block title %}About{% endblock %}

<!-- Pomodoro -->

<!-- 25 minutes clock -->
<!-- start button -->

{% block content %}
  <div class="starter-template">
    <h1>About this website</h1>
    <p class="lead">
    	This website was made as a result of taking a Coursera class : 
    	<a href="https://www.coursera.org/course/learning" alt="link to coursera website">"Learning how to learn"</a>.<br> 
    	The techniques described on the home page are some of the techniques described in this class.</p>

  </div>
 {% endblock %}